{{define "signUp"}}
<!DOCTYPE html>
<html lang ="en">
<head>
    <title>check123</title>
</head>

    <body>

        <form  method="POST" action ="/signUp">
            <h2> signup</h2>

            <div class = "signUpForm">
                <input type="text" id ="up" name="signup">
                <input type="password" id="pass" name="password">
                <input type="submit" id="button" value="submit" name="sub">
                
            </div>
        </form>

    </body>

</html>

{{end}}

